mixin header(options)

    header.page-header(class=options.pageHeaderStyle + ' ' + options.pageHeaderBg, style=options.pageHeaderBgImg)

        if block
            block
        else
            p.text-center.py-5 No content provided
            <a href="/">
                <img src="assets/img/warrior-logo.png" alt="HTML tutorial" style="height:42px;border:0;">
            </a>

        //- SVG Border
        include includes/border-options.pug