extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Warrior'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })



    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderFill: 'text-dark'
    })

        .page-header-content
            .container
                .row.align-items-center
                    .col-lg-7
                        h1.page-header-title Changing the way sports medicine is delivered
                        p.page-header-text.mb-5 Warrior is your platform to deliver virtual care and acquire new individuals for your practice
                        a.btn.btn-teal.btn-marketing.rounded-pill(href='partner.html') Partner with us 
                        
                    .col-lg-5
                        img.img-fluid(src='assets/img/provider-phone.png', height="50px").mb-5

            .container.page-header-content
                .row.align-items-center.mb-5
                    .col-lg-12.text-center
                        h1.header-title Join our network of sports medicine physicians and physical therapists
                        
                .row.align-items-center                
                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                .text-center
                                    img.img-fluid(src='assets/img/network.png', width="60px").mb-2
                                    .h1 Exclusive network
                                    .p Join our community of leading providers

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                .text-center
                                    img.img-fluid(src='assets/img/training.png', width="60px").mb-2
                                    .h1 Training & events
                                    .p Opportunities for ongoing education

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                .text-center
                                    img.img-fluid(src='assets/img/flexibility.png', width="60px").mb-2
                                    .h1 Flexibility
                                    .p Meet with patients when & how it’s convenient for you


                                     include mixins/header.pug
    +header({

        pageHeaderStyle: 'page-header-dark',
        sectionPadding: 'py-1',
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container.page-header-content
            .row.align-items-center
                .col-lg-12.text-center
                    h1.page-header-title Work with us however works for you
                    p.page-header-text Connect with patients one-on-one and on your own schedule

            .row.mb-4
                .col-lg-12.text-center
                    a.btn.btn-teal.btn-marketing.rounded-pill(href='partner.html') Get Started

            .row.align-items-center
                .col-lg-6.mb-5.mb-lg-0
                    .card.h-100
                        .card-body.p-5
                            .text-center
                                img.img-fluid(src='assets/img/svgs/holding-phone-colour.svg', width="70px").mb-2
                                .h1 Video chat or message individuals

                .col-lg-6.mb-5.mb-lg-0
                    .card.h-100
                        .card-body.p-5
                            .text-center
                                img.img-fluid(src='assets/img/svgs/doctor-man.svg', width="50px").mb-2
                                .h1 Receive in-person referrals



    +header({
        pageHeaderStyle: 'page-header-white',
        sectionPadding: 'py-1',        
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })
        .container.page-header-content
            .row.align-items-center
                .col-lg-12
                    h1.page-header-title Join in one of two ways
                    p.page-header-text We are currently processing applications as-needed, so our response and approval times may vary.

            .row.align-items-center.pt-4
                .col-lg-6.mb-5.mb-lg-0
                    .card.h-100
                        .card-body.p-5
                            .text-center
                                .h1 Warrior One
                                .p.mb-3 Paid telehealth through video and private messaging. In-person referrals to your practice
                                a.btn.btn-teal.btn-marketing.rounded-pill(href='partner.html') Get Started

                .col-lg-6.mb-5.mb-lg-0
                    .card.h-100
                        .card-body.p-5
                            .text-center
                                .h1 Warrior Two
                                .p.mb-3 Expand your practice as a part of Warrior's exclusive community of in-person providers
                                a.btn.btn-teal.btn-marketing.rounded-pill(href='partner.html') Get Started


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
